html, body {
  margin: 0;
  height: 100%;
}

.modal {
  position: fixed;
  padding: 1em;
  margin-top: 2em;
  margin-left: 1.5em;
  margin-right: 1em;
  width: 90%;
  height: 90%;
  border-radius: 1.5em;
  box-shadow: #5d404070 3px 3px 3px;
  overflow-y: auto;
}

.text-display {
  height: 30em;
  box-shadow: #5d404070 3px 3px 3px;
  border-radius: 1.5em;
  transition: all 1.2s;
  opacity: 0;
  background-color: rgba(220, 220, 220, 0.8);
  padding: 1em;
}

.movietitle {
  margin-top: -.2em;
  font-family: 'Bebas Neue';
  font-size: 4em;
  color: black;
}

.under-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.global-rating-modal, .releaseDate {
  font-family: 'Rokkitt';
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 50em;
  margin-left: -1em;
  margin-right: -1em;
  color: black;
  font-size: .8em;

}

h3 {
  font-family: 'Rokkitt';
  color: black;
  font-size: .8em;
}

.description-area {
  width: 30%;
  border-right: 2px solid black;
}

.overview {
  text-align: left;
}


.main-modal-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.loading-msg, .done-loading {
  transition: all 1.2s;
  opacity: 1;
  align-content: center;
}

.exit {
  position: fixed;
  top: 2em;
  right: 8em;
  height: 2em;
  width: auto;
}

.hidden {
  opacity: 0;
}
