
.modal {
  position: fixed;
  top: 1em;
  z-index: 3;
  margin: auto;
  padding: 1em;
  background: white;
  height: auto;
  width: 90%;
  height: 90%;
  border-radius: 1.5em;
  box-shadow: black 3px 3px 3px;
  overflow-y: auto;
}

.text-display {
  height: 30em;
  box-shadow: black 3px 3px 3px;
  border-radius: 1.5em;
  transition: all 1.2s;
  opacity: 0;
  background-color: rgba(220, 220, 220, 0.8);
  padding: 1em;
  text-align: left;
}

.loading-msg, .done-loading {
  transition: all 1.2s;
  opacity: 1;
  align-content: center;
}

.exit {
  position: absolute;
  top: .5em;
  right: .5em;
  height: 1.5em;
  width: auto;
}

.hidden {
  opacity: 0;
}
