header {
  display: flex;
  justify-content: space-between;
  background-color: #fbfbf8;
}

form {
  margin: 2em;
}

.logout-button {
  margin-top: 3em;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-pic {
  margin-top: 2em;
  /* margin-right: 2em; */
  width: 45em;
}

.site-title {
  position: absolute;
  top: 2.8em;
  left: 11em;
  font-size: 3em;
}

.welcome {
  margin: 2em;
}
