.quotearea {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  margin-top: 1.5em;
}

.title {
  font-family: 'Arvo';
}

.quote {
  font-family: 'Rokkitt';
}

.topright {
  position: relative;
  /* height: 3em; */
  width: 5em;
  transform: rotate(180deg);
  margin-left: 12em;
  margin-top: -1em;
  margin-bottom: -2em;
}

.bottomleft {
  position: relative;
  margin-top: -2em;
  margin-left: -1em;
  width: 5em;
}
