.App {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(75, 75, 75, .6);
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  margin-bottom: 3em;
}
