html, body {
  height: 100%;
  overflow: auto;
}

.App {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(75, 75, 75, .6);
  justify-content: center;
  display: flex;
  overflow-y: scroll;
}
