header {
  display: flex;
  border: 2px solid black;
  justify-content: space-between;
}

form {
  margin: 2em;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo-pic {
  margin-top: 1em;
  margin-right: 3em;
  height: 18em;
}

.site-title {
  position: absolute;
  top: 2.8em;
  left: 11em;
  font-size: 3em;
}

.welcome {
  margin: 2em;
}
