.poster-img {
  width: 15em;
  margin-bottom: -13em;
  border: 3px solid black;
}

.global-rating {
  color: black;
  background: white;
  border: 2px solid black;
  font-size: 1.5em;
  position: relative;
  top: 4.6em;
  width: max-content;
  height: .8em;
  padding: .5em;
  padding-bottom: .8em;
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
