.poster-img {
  width: 15em;
  filter: grayscale(100%);
}

.poster-img:hover, .globalRating:hover {
  width: 15em;
  filter: none;
  transition: 0.5s;
}

.global-rating {
  font-family: 'Arvo';
  color: black;
  background: rgba(255, 255, 255, 0.8);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 2em;
  position: relative;
  margin-top: -1.47em;
  width: 3.5em;
}

/* .overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
} */
