.poster-img {
  width: 15em;
  margin-bottom: -13em;
  border: 3px solid black;
}

.global-rating {
  color: black;
  background: white;
  border: 2px solid black;
  font-size: 1.5em;
  position: relative;
  top: 4.6em;
  width: .7em;
  height: .8em;
  padding: .5em;
  padding-bottom: .8em;
}
